body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(0, 0%, 0%, 0.8);
  font-family: ui-monospace;
  color: aliceblue;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
nav.navbar.navbar-expand.navbar-light.bg-dark {
  background-color: rgba(247, 247, 247, 255);
}

.card-body {
  width: 100%;
  margin-bottom: 11%;
  font-size: 20px;
}

.name {
  font-family: ui-monospace;
  color: seagreen;
  font-size: 34px;
  text-align: center;
}

.list-group-flush {
  background-color: rgb(60, 62, 68);
  width: 36.2%;
  margin-left: 28.9%;
  margin-top: -0.7%;
  text-align: start;
  padding: 3%;
}

.informationStyle {
  color: cadetblue;
  margin-bottom: 2%;
}
